
.categories{
     background-color: lightgrey;
}

// .product{
//      background-color: beige;
//      margin: 0 20px 20px 0;   
// }
.card{
     background-color: beige;
}
.btn{
     margin-left: 45%;
}

.img{
     padding: 10px;
}