.categories {
  background-color: lightgrey;
}

.dashboard-content {
  margin-left: 5%;
}

.card{
  background-color: rgb(202, 249, 184);   
}

.btn {
  margin-left: 45%;
}

.img {
  padding: 10px;
}
