.sidebar{
     border: 1px solid black;
     background-color: rgb(19, 19, 43);
}

.content{
     padding: 0px;
     // background-color: #e3f0f0;
}

.dashboard-content{
     padding: 10px;
     margin: 10px;
     justify-content: center;
}