<section>
  <h2 class="text-center mt-2">{{ productName }}</h2>
  <hr />
  <!-- <pre>{{productDetail | json}}</pre> -->
  <div
    class="card mt-3 mb-3"
    style="max-width: 720px"

  >
    <div class="row">
      <div class="col-md-6">
        <img src="{{  productDetail?.image }}" class="img" height="300px" width="300px" alt="..." />
      </div>
      <div class="col-md-6 mt-4">
        <h4>{{  productDetail?.title }}</h4>
        <div class="mb-2">
          Category : <span class="fw-bold">{{  productDetail?.category }}</span>
        </div>
        <div class="mb-2">
          Price : <span class="fw-bold">{{  productDetail?.price | currency }}</span>
        </div>
        <div class="mb-3">
          Quantity :
          <span>&nbsp;
            <button type="button" class="button" (click)="removeValue()">-</button>&nbsp;
            <input type="number" min="1"  [value]="value" style="width: 15%;"/>&nbsp;
            <button type="button" class="button" (click)="addValue()">+</button>
          </span>
        </div>
        <div class="mb-2">
          Rating : <span class="fw-bold">{{  productDetail?.rating?.rate }}</span>
        </div>
        <div class="mb-2" style="margin-left: 30%;">
          <button type="button" class="btn btn-primary" (click)="goToCart(productDetail)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <table>
          <thead>
               <th>Title</th>
               <th>Category</th>
               <th>price</th>
               <th>quantity</th>
               <th>add to cart</th>
               <th>Rating</th>
          </thead>
     </table> -->
</section>
